.talkBubble {
  margin: 40px;
  display: inline-block;
  position: absolute;
  bottom: 5%;
  right: 5%;
  max-width: 380px;
  height: 200px;
  background-color: rgba(32, 14, 21, 0.73);
}

.round {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.triRight.border.leftIn:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -40px;
  right: auto;
  top: 30px;
  bottom: auto;
}
.triRight.leftIn:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: -24px;
  right: auto;
  top: 28px;
  bottom: auto;
  border: 12px solid;
  border-color: rgba(32, 14, 21, 0.73) rgba(32, 14, 21, 0.73) transparent
    transparent;
}

.talkText {
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}
.talkText p {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

@media (max-width: 480px) {
  .bgImage {
    object-fit: contain;
  }
}
