.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: nunito, Inconsolata;
  scrollbar-color: rgb(191, 191, 191) transparent;
  scrollbar-width: thin;
}

.header {
  display: flex;
  border-bottom: 1px solid rgb(139, 139, 139);
  padding-left: 100px;
  padding-top: 20px;
  padding-bottom: 10px;
  align-items: center;
  gap: 10px;
}

.sectionTitle {
  margin-bottom: 10px;
  margin-top: 10px;
}

.content-body {
  flex-grow: 1;
  display: flex;
  min-height: 0;
  width: 100%;
}

.nav {
  width: 80px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  transition: background 1s ease;
}

.content-container {
  display: flex;
  flex-direction: row;
}

.overview-container,
.features-container,
.screenshot-container,
.solutions-container {
  padding: 10px;
}

.overview-container,
.features-container,
.solutions-text-container {
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgb(0, 0, 0) 80%,
    rgba(0, 0, 0, 0)
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
  transition: mask-image 0.3s ease-in-out;
}

.overview-container.no-mask {
  -webkit-mask-image: none;
  mask-image: none;
}

.features-container.no-mask {
  -webkit-mask-image: none;
  mask-image: none;
}

.solutions-text-container.no-mask {
  -webkit-mask-image: none;
  mask-image: none;
}

.blured {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  z-index: 99 !important;
}

.screenshot-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 10px;
  position: relative;
  min-height: 0;
}

.screenshot-container p {
  margin-top: 0;
  margin-bottom: 10px;
}

.swiper-wrapper-fix {
  flex: 1;
  min-height: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: transparent !important;
}

.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.6);
}

.swiper-button-prev-custom,
.swiper-button-next-custom {
  cursor: pointer;
}

.swiper-button-prev-custom:hover,
.swiper-button-next-custom:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(255, 255, 255) !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: '' !important;
}

.screenshot-container .mySwiper {
  flex-grow: 1;
  overflow: hidden;
}

.screenshot-image {
  max-height: 100%;
  object-fit: contain;
  background: transparent !important;
}

.footer {
  min-height: 60px;
  border-top: 1px solid rgb(139, 139, 139);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 52px;
}

.container::-webkit-scrollbar,
.overview-container::-webkit-scrollbar,
.features-container::-webkit-scrollbar,
.solutions-container::-webkit-scrollbar {
  width: 4px;
}

.container::-webkit-scrollbar-track,
.overview-container::-webkit-scrollbar-track,
.features-container::-webkit-scrollbar-track,
.solutions-container::-webkit-scrollbar-track {
  background: transparent !important;
}

.container::-webkit-scrollbar-thumb,
.overview-container::-webkit-scrollbar-thumb,
.features-container::-webkit-scrollbar-thumb,
.solutions-container::-webkit-scrollbar-thumb {
  background: rgb(139, 139, 139);
  border-radius: 10px;
  border: 1px solid transparent;
}

.container::-webkit-scrollbar-thumb:hover,
.overview-container::-webkit-scrollbar-thumb:hover,
.features-container::-webkit-scrollbar-thumb:hover,
.solutions-container::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100) !important;
}

.project-title {
  font-weight: 900;
}

.bold {
  font-weight: 900;
}

.font-size-title {
  font-size: 32px;
  margin: 0px;
}

.font-size-sub-title {
  font-size: 22px;
  margin: 0px;
}

.aesthetic {
  font-family: 'aesthetic', sans-serif;
}

.aesthetic-links {
  display: inline-block;
  position: relative;
  font-size: 20px;
  font-weight: 400;
  transition: transform 0.3s ease-in-out, font-weight 0.3s ease-in-out;
  text-decoration: none;
}

.aesthetic-links:hover {
  font-weight: 700;
}

.aesthetic-links:hover span {
  font-weight: 900;
  font-family: 'aesthetic', sans-serif;
}

.nav:hover {
  cursor: pointer;
  background: #111111;
  background-size: cover;
}

.nav-left {
  border-right: 1px solid rgb(139, 139, 139);
}

.nav-right {
  border-left: 1px solid rgb(139, 139, 139);
}

.rotated-text {
  transform: rotate(-90deg);
  position: relative;
  left: -25px;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.rotated-text-right {
  transform: rotate(90deg);
  position: relative;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.nav-left:hover .rotated-text {
  color: rgb(255, 255, 255);
}

.nav-right:hover .rotated-text-right {
  color: rgb(255, 255, 255);
}

.solutions-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.solutions-text-container {
  overflow-y: auto;
  padding-right: 20px;
  height: 100%;
}

.tech-stack-container {
  height: 20%;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
  margin-bottom: 10px;
}

.disabled-btn {
  text-decoration: line-through;
}

.disabled-btn:hover {
  cursor: not-allowed;
}

.disabled-nav:hover {
  cursor: not-allowed;
  text-decoration: line-through !important;
}

.underline-svg {
  position: relative;
  display: inline-block;
}

.underline-svg::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
  height: 16px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1418 125"><path d="M1412.29 72.17c-11.04-5.78-20.07-14.33-85.46-25.24-22.37-3.63-44.69-7.56-67.07-11.04-167.11-22.06-181.65-21.24-304.94-30.56C888.78 1.39 822.57 1.1 756.44 0c-46.63-.11-93.27 1.56-139.89 2.5C365.5 13.55 452.86 7.68 277.94 23.15 202.57 33.32 127.38 45.01 52.07 55.69c-11.23 2.41-22.63 4.17-33.71 7.22C6.1 66.33 5.64 66.19 3.89 67.79c-7.99 5.78-2.98 20.14 8.72 17.5 33.99-9.47 32.28-8.57 178.06-29.66 4.26 4.48 7.29 3.38 18.42 3.11 13.19-.32 26.38-.53 39.56-1.12 53.51-3.81 106.88-9.62 160.36-13.95 18.41-1.3 36.8-3.12 55.21-4.7 23.21-1.16 46.43-2.29 69.65-3.4 120.28-2.16 85.46-3.13 234.65-1.52 23.42.99 1.57-.18 125.72 6.9 96.61 8.88 200.92 27.94 295.42 46.12 40.87 7.91 116.67 23.2 156.31 36.78 3.81 1.05 8.28-.27 10.51-3.58 3.17-3.72 2.66-9.7-.78-13.13-3.25-3.12-8.14-3.44-12.18-5.08-17.89-5.85-44.19-12.09-63.67-16.56l26.16 3.28c23.02 3.13 46.28 3.92 69.34 6.75 10.8.96 25.43 1.81 34.34-4.39 2.26-1.54 4.86-2.75 6.21-5.27 2.76-4.59 1.13-11.06-3.59-13.68ZM925.4 23.77c37.64 1.4 153.99 10.85 196.64 14.94 45.95 5.51 91.89 11.03 137.76 17.19 24.25 4.77 74.13 11.21 101.72 18.14-11.87-1.15-23.77-1.97-35.65-3.06-133.46-15.9-266.8-33.02-400.47-47.21Z" fill="%23e6bf74"></path></svg>');
  background-repeat: no-repeat;
  background-size: contain;
}

.wavy {
  text-decoration: underline wavy #54ff98;
}

.wavy-yellow {
  text-decoration: underline wavy #e6bf74;
}

.highlight {
  color: #e6bf74;
  font-weight: bold;
  position: relative;
  display: inline-block;
}
.highlight::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 12px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1418 125"><path d="M1412.29 72.17c-11.04-5.78-20.07-14.33-85.46-25.24-22.37-3.63-44.69-7.56-67.07-11.04-167.11-22.06-181.65-21.24-304.94-30.56C888.78 1.39 822.57 1.1 756.44 0c-46.63-.11-93.27 1.56-139.89 2.5C365.5 13.55 452.86 7.68 277.94 23.15 202.57 33.32 127.38 45.01 52.07 55.69c-11.23 2.41-22.63 4.17-33.71 7.22C6.1 66.33 5.64 66.19 3.89 67.79c-7.99 5.78-2.98 20.14 8.72 17.5 33.99-9.47 32.28-8.57 178.06-29.66 4.26 4.48 7.29 3.38 18.42 3.11 13.19-.32 26.38-.53 39.56-1.12 53.51-3.81 106.88-9.62 160.36-13.95 18.41-1.3 36.8-3.12 55.21-4.7 23.21-1.16 46.43-2.29 69.65-3.4 120.28-2.16 85.46-3.13 234.65-1.52 23.42.99 1.57-.18 125.72 6.9 96.61 8.88 200.92 27.94 295.42 46.12 40.87 7.91 116.67 23.2 156.31 36.78 3.81 1.05 8.28-.27 10.51-3.58 3.17-3.72 2.66-9.7-.78-13.13-3.25-3.12-8.14-3.44-12.18-5.08-17.89-5.85-44.19-12.09-63.67-16.56l26.16 3.28c23.02 3.13 46.28 3.92 69.34 6.75 10.8.96 25.43 1.81 34.34-4.39 2.26-1.54 4.86-2.75 6.21-5.27 2.76-4.59 1.13-11.06-3.59-13.68ZM925.4 23.77c37.64 1.4 153.99 10.85 196.64 14.94 45.95 5.51 91.89 11.03 137.76 17.19 24.25 4.77 74.13 11.21 101.72 18.14-11.87-1.15-23.77-1.97-35.65-3.06-133.46-15.9-266.8-33.02-400.47-47.21Z" fill="%23e6bf74"></path></svg>');
  background-repeat: no-repeat;
  background-size: contain;
}

.highlight-yellow {
  color: #e6bf74;
  font-weight: bold;
  position: relative;
  display: inline-block;
}

.highlight-yellow::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 12px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1418 125"><path d="M1412.29 72.17c-11.04-5.78-20.07-14.33-85.46-25.24-22.37-3.63-44.69-7.56-67.07-11.04-167.11-22.06-181.65-21.24-304.94-30.56C888.78 1.39 822.57 1.1 756.44 0c-46.63-.11-93.27 1.56-139.89 2.5C365.5 13.55 452.86 7.68 277.94 23.15 202.57 33.32 127.38 45.01 52.07 55.69c-11.23 2.41-22.63 4.17-33.71 7.22C6.1 66.33 5.64 66.19 3.89 67.79c-7.99 5.78-2.98 20.14 8.72 17.5 33.99-9.47 32.28-8.57 178.06-29.66 4.26 4.48 7.29 3.38 18.42 3.11 13.19-.32 26.38-.53 39.56-1.12 53.51-3.81 106.88-9.62 160.36-13.95 18.41-1.3 36.8-3.12 55.21-4.7 23.21-1.16 46.43-2.29 69.65-3.4 120.28-2.16 85.46-3.13 234.65-1.52 23.42.99 1.57-.18 125.72 6.9 96.61 8.88 200.92 27.94 295.42 46.12 40.87 7.91 116.67 23.2 156.31 36.78 3.81 1.05 8.28-.27 10.51-3.58 3.17-3.72 2.66-9.7-.78-13.13-3.25-3.12-8.14-3.44-12.18-5.08-17.89-5.85-44.19-12.09-63.67-16.56l26.16 3.28c23.02 3.13 46.28 3.92 69.34 6.75 10.8.96 25.43 1.81 34.34-4.39 2.26-1.54 4.86-2.75 6.21-5.27 2.76-4.59 1.13-11.06-3.59-13.68ZM925.4 23.77c37.64 1.4 153.99 10.85 196.64 14.94 45.95 5.51 91.89 11.03 137.76 17.19 24.25 4.77 74.13 11.21 101.72 18.14-11.87-1.15-23.77-1.97-35.65-3.06-133.46-15.9-266.8-33.02-400.47-47.21Z" fill="%23e6bf74"></path></svg>');
  background-repeat: no-repeat;
  background-size: contain;
}

.list-item {
  margin-bottom: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted white;
  isolation: isolate;
}

.tooltiptext {
  visibility: hidden;
  width: 250px;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 10px;
  overflow: visible;
  font-weight: 400;
  font-size: 14px;
  position: absolute;
  z-index: 10;
  bottom: 125%;
  left: 10%;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.17);
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Section Styling */
.features-section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 0px;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.feature-card {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease-in-out;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #3e3e3e;
  margin-bottom: 10px;
}

.feature-text {
  font-size: 1rem;
  color: #3e3e3e;
  line-height: 1.5;
}

.feature-image {
  width: 100%;
  margin-top: 15px;
  border-radius: 8px;
}

.wide {
  grid-column: span 2;
}

.content-left,
.content-right {
  width: 100%;
  height: auto;
}

.content-container {
  overflow: hidden;
}

.content-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.overview-container {
  overflow-y: auto;
  padding: 20px;
  height: 350px;
}

.screenshot-container {
  padding: 10px;
  min-height: 300px;
}

.content-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.features-container {
  overflow-y: auto;
}

.tech-stack-container {
  min-height: 30px;
  max-height: 30px;
  padding: 20px;
}

.font-weight-700 {
  font-weight: 700;
}

.font-size-title {
  font-size: 1.8rem;
}

.font-size-sub-title {
  font-size: 1.5rem;
}

.font-color {
  color: #ffffff;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
}

.fade-out {
  opacity: 0;
  /* transition: opacity 0.8s ease-in-out; */
}

/* Scribble reveal animation styling */
.scribble-text {
  display: inline-block;
  font-family: inherit;
  color: inherit;
  position: relative;
}

.content-hidden {
  visibility: visible;
}

.content-revealed {
  visibility: visible;
}

/* Image reveal animations */
.img-hidden {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.img-revealed {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Add an optional blinking cursor effect during scribble */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.reveal {
  color: #cdcdcd;
  --g: no-repeat linear-gradient(#520000e4 0 0) 0 0;
  background: var(--g), var(--g);
  background-size: 0 100%;
  -webkit-background-clip: padding-box, text;
  background-clip: padding-box, text;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  animation: t 1.2s 0.5s both, b 1.2s 1.3s both;
}

@keyframes b {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes t {
  to {
    background-size: 150% 100%;
  }
}
@keyframes b {
  to {
    background-position: -200% 0, 0 0;
  }
}

.list {
  list-style: none;
  padding: 0;
}

.list li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.underline {
  text-decoration: underline;
}

.mb-10 {
  margin: 0px;
  margin-top: 4px;
}

.mt-4 {
  margin-top: 4px;
}

.my-4 {
  margin-left: 4px;
  margin-right: 4px;
}

.flexbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.swiper-slide .swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-cards-effect .swiper-slide {
  background: transparent !important;
  background-color: transparent !important;
  backdrop-filter: none !important;
}

.custom-cards-effect .swiper-slide-shadow-left,
.custom-cards-effect .swiper-slide-shadow-right {
  display: none !important;
}

.custom-slide {
  background: transparent !important;
  background-color: transparent !important;
}

.custom-zoom-container {
  background: transparent !important;
}

.screenshot-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  background: transparent !important;
}

.fullscreen-overlay {
  animation: fadeIn 0.3s ease-out;
}

.fullscreen-overlay img {
  animation: zoomIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.tech-icon {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.tech-icon img {
  filter: brightness(0) invert(1);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.tech-icon:hover img {
  transform: translateY(-5px);
  filter: grayscale(0%) brightness(100%);
  border-radius: 20%;
}

.icon-tooltip {
  position: absolute;
  top: -60%;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 900;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
  white-space: nowrap;
}

.tech-icon:hover .icon-tooltip {
  opacity: 1;
  visibility: visible;
  bottom: -40px;
}

.text-dark {
  color: rgb(38, 38, 38);
}

.text-light {
  color: rgb(227, 227, 227);
}

.glow-text {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #0ff, 0 0 40px #0ff;
}

.scroll-hint {
  color: #dcdcdc;
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

.mb-20 {
  margin-bottom: 20px;
}

.pl-10 {
  padding-left: 10px;
}

.mobile-nav-footer {
  display: none;
}

.linkDisabled {
  display: none;
}

.desktop-footer-links {
  display: flex;
  gap: 200px;
}

@media (max-width: 786px) {
  .content-container {
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 50px;
    font-size: 14px;
  }

  .content-left,
  .content-right {
    width: 100%;
    overflow: visible;
  }

  .overview-container,
  .features-container {
    height: auto;
    overflow: visible;
  }

  .screenshot-container {
    min-height: 300px;
  }

  .header {
    display: flex;
    padding: 20px 20px 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    gap: 10px;
    line-height: 1.6;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  .footer {
    position: fixed;
    bottom: 0px;
    min-height: 60px;
    width: 100%;
    border-top: 1px solid rgb(139, 139, 139);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 52px;
    line-height: 1.6;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  .font-size-title {
    font-size: 1rem;
  }

  .nav {
    width: 60px;
  }

  .rotated-text,
  .rotated-text-right {
    font-size: 22px;
  }

  .rotated-text {
    left: -20px;
  }

  .tech-stack-container {
    height: auto;
    padding: 10px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
  }

  .techImages {
    height: 30px;
    width: auto;
  }

  .icon-tooltip {
    display: none;
  }

  .bottom-link-chars {
    border-bottom: none;
  }
}

@media (max-width: 480px) {
  .nav-left,
  .nav-right {
    display: none;
  }

  .header {
    border-bottom: 1px solid rgb(37, 37, 37);
  }

  .desktop-footer-links {
    display: none;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px; /* Adjust height as needed */
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(10, 10, 10, 0.4); /* Example background */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-top: 1px solid rgb(37, 37, 37);
    z-index: 1000;
  }

  /* 4. Display the new mobile navigation container */
  .mobile-nav-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  /* 5. Style the new navigation buttons and links */
  .mobile-nav-btn {
    font-family: 'aesthetic', sans-serif;
    font-size: 1rem;
    color: #e3e3e3;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    transition: color 0.2s ease;
  }

  .mobile-nav-btn:hover {
    color: #ffffff;
  }

  .mobile-nav-btn:disabled {
    color: #555;
    cursor: not-allowed;
  }

  /* 6. Add padding to the bottom of the content to prevent the fixed footer from covering it */
  .content-container {
    padding-bottom: 80px; /* Should be more than the footer height */
  }
}
