p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

.wrapper {
  width: fit-content;
  display: flex;
  align-items: end;
  justify-content: flex-end;
  mix-blend-mode: exclusion;
  z-index: 999999;
  &.no-goo {
    .button-content {
      e .button-content-inner {
        filter: none !important;
        .search-results {
          .search-result {
            padding: 7.5px 10px;
          }
        }
        .search-btn {
          padding: 5px 10px;
          .search-text {
            pointer-events: none;
            text-align: center;
            position: relative;
            left: 0;
          }
        }
        .separate-element {
          width: 36px;
          height: 36px;
        }
      }
    }
  }

  .button-content {
    position: absolute;

    .button-content-inner {
      filter: url(#goo-effect);
      cursor: pointer;
      max-width: max-content;

      .search-results {
        position: relative;
        z-index: -1;

        .search-result {
          background-color: #ffffff;
          border-radius: 40px;
          padding: 12.5px 20px;
          width: 100%;
          color: #000;
          position: absolute;
          left: -25px;
          font-size: 14px;
          .search-result-title {
            display: flex;
            align-items: center;
            gap: 1px;
            span {
              position: relative;
              top: -0.35px;
            }
            svg {
              position: relative;
              top: 2px;
              width: 18px;
              height: 18px;
            }
          }
        }
      }
      .search-btn {
        color: #000000af;
        cursor: pointer;
        letter-spacing: -0.5px;
        background-color: #ffffff;
        outline: none;
        border: none;
        border-radius: 9999px;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        height: 45px;
        font-size: 16px;

        .search-text {
          pointer-events: none;
          text-align: center;
          position: relative;
          left: 4px;
        }
        .search-input {
          width: 100%;
          background-color: transparent;
          outline: none;
          border: none;
          color: #000000;
        }
      }

      .separate-element {
        position: absolute;
        background-color: #ffffff;
        width: 46px;
        height: 46px;
        right: -5px;
        top: -1px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 9999px;
        svg {
          width: 20px;
          height: 20px;
          path {
            fill: #000000;
          }
          &.loading-icon {
            width: 20px;
            height: 20px;
            animation: rotate 0.5s linear infinite;
            transform-origin: center center;

            @keyframes rotate {
              100% {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
  }
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  background: rgba(255, 255, 255, 0);
  z-index: 4;
  pointer-events: none;
  transition: backdrop-filter 0.3s ease, -webkit-backdrop-filter 0.3s ease,
    background 0.3s ease;
}

body.search-active::before {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background: rgba(255, 255, 255, 0.1);
}

@media (max-width: 1200px) {
  .wrapper {
    margin-right: 60px;
  }
}

@media (max-width: 786px) {
  .wrapper {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  body::before {
    content: '';
    position: fixed;
    inset: 0;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    background: rgba(255, 255, 255, 0);
    z-index: 4;
    pointer-events: none;

    transition: backdrop-filter 0.3s ease, -webkit-backdrop-filter 0.3s ease,
      background 0.3s ease;
  }

  body.search-active::before {
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background: rgba(255, 255, 255, 0.3);
  }
}

body.search-active {
  overflow: hidden;
}
